.cursor-pointer {
    cursor: pointer;
}

.title h1,
.title .starLine .star {
    color: #2c3e50;
}

.title .starLine .line {
    width: 5rem;
    height: 0.25rem;
    background-color: #2c3e50;
}

.layout {
    background-color: #1abc9ce5;
    opacity: 0;
    transition: all 0.5s;
}

.card:hover .layout {
    opacity: 1;
}

.selectedImgLayout {
    background-color: #0d6efd4d;
    z-index: 9999999999999999999999999;
}

.selectedImgLayout img {
    width: 37.5rem;
}


@media all and (width < 768px) {
    .title h1 {
        font-size: 1.875rem;
    }

    .w-own {
        width: 100%;
    }
}

@media all and (768px <=width < 992px) {
    .w-own {
        width: 46%;
    }
}

@media all and (width >=992px) {
    .w-own {
        width: 29%;
    }
}