.about {
    height: 85dvh;
    background-color: #1ABC9C;
}

.details .container {
    width: 85%;
}

.about .content .title .starLine .line {
    width: 5rem;
    height: 0.25rem;
    background-color: white;
}