.home {
    height: 85dvh;
    background-color: #1ABC9C;
}

.home .content .avatar {
    width: 15.625rem;
}

.hom .content h2 {
    font-size: 40px;
}

.home .content .starLine .line {
    width: 5rem;
    height: 0.25rem;
    background-color: white;
}