.p-40 {
    padding: 2.5rem;
}

.top {
    background-color: #2C3E50;
}

.top .card-group .section {
    width: 33.3333333%;
}

.top .card-group .section .icons div i {
    width: 1rem;
    height: 1rem;
}

.bottom {
    background-color: #1a252f;
}

@media all and (width < 992px) {
    .top .card-group {
        flex-direction: column;
    }

    .top .card-group .section {
        width: 100%;
    }

    .top .card-group .section.around {
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
}